
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1500023264308'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1500023264308#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1500023264308') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1500023264308') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1500023264308#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-che:before { content: "\e60b"; }

.icon-liren:before { content: "\e606"; }

.icon-iconqueren10:before { content: "\e656"; }

.icon-xuexipeixun:before { content: "\e604"; }

.icon-jiudian:before { content: "\e60f"; }

.icon-meishi:before { content: "\e610"; }

.icon-zhoubianyou:before { content: "\e613"; }

.icon-ktv:before { content: "\e614"; }

.icon-zuliao:before { content: "\e61c"; }

.icon-jinrixindan:before { content: "\e62e"; }

.icon-yinliaoxiaochi:before { content: "\e647"; }

.icon-xiuxianyule:before { content: "\e605"; }

.icon-jiehun:before { content: "\e6e3"; }

.icon-xiaochikuaican:before { content: "\e621"; }

.icon-shenghuofuwu:before { content: "\e67b"; }

.icon-huochepiao:before { content: "\e638"; }

.icon-icon-test:before { content: "\e622"; }

.icon-quanbu:before { content: "\e6bd"; }

.icon-qinzi-:before { content: "\e617"; }

.icon-Artboard-copy:before { content: "\e502"; }

