body{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	font-size: .16rem;
	display: -webkit-flex;
	flex-direction:column;
}
.head{
	height: .5rem;
	line-height: .48rem;
	position: relative;
	border-bottom: 1px solid #ccc;
	a{
		position: absolute;
		right: .2rem;
		top: 0rem;
		font-size: .14rem;
		i{
			padding-left: .05rem;
			color: #C3C3C3;
		}
	}
	ul{
		display: flex;
   	 	justify-content:center;
   	 	align-items:center;
   	 	li{
   	 		padding: 0 .15rem;
   	 	}
   	 	li:hover{
   	 		color: #FC062E;
   	 		border-bottom: 2px solid #FC062E;
   	 	}
   	 	li:nth-child(2){
   	 		color: #FC062E;
   	 		border-bottom: 2px solid #FC062E;
   	 	}
	}
}
.content{
	flex:1;
	overflow-y:scroll;
	.nav{
		height: .47rem;
		background: #F3F3F3;
		ul{
			width: 95%;
			height: .3rem;
			line-height: .3rem;
			margin-left: 2.5%;
			display: flex;
   	 		justify-content:center;
   	 		align-items:center;
   	 		text-align: center;
   	 		font-size: .14rem;
			li{
				margin-top: .15rem;
				width: 32%;
				border: 1px solid #D2D2D2;
				background: #fff;
			}
			li:nth-child(1){
				border-top-left-radius: .05rem;
				border-bottom-left-radius: .05rem;
				border-right: none;
				background: #FE4D4D;
				color: #fff;
			}
			li:nth-child(2){
				border-right: none;
			}
			li:nth-child(3){
				border-top-right-radius: .05rem;
				border-bottom-right-radius: .05rem;
			}
			li:hover{
				background: #FE4D4D;
				color: #fff;
			}
		}
	}
	.list{
		height: .4rem;
		line-height: .4rem;
		border-bottom: 1px solid #F3F3F3;
		position: relative;
		p{
			position: absolute;
			top: 0;
			width: 25%;
			right: .1rem;
			text-align: center;
			border-left: 1px solid #F3F3F3;
			i{
				color: #696969;
			}
		}
		ul{
			width: 70%;
			display:flex;
    		justify-content:space-between;
    		align-items:center;
    		font-size: .12rem;
    		li{
    			padding: 0 .1rem;
    		}
    		li:hover{
    			color: #FE4D4D;
    		}
    		li:first-child{
    			color: #FE4D4D;
    		}

		}
	}
	.wrap{
	width: 100%;
	height: 3.5rem;
	overflow: hidden;
	position: absolute;
	top: 1.5rem;
	left: 0;
	.scroller{
		height: 7rem;
	}
}
	.cont{
		height: 1rem;
		position: relative;
		text-align: center;
		border-bottom: 1px solid #F3F3F3;
		ul{
			display: flex;
			width: 95%;
    		justify-content:center;
    		align-items:center;
    		font-size: .1rem;
			li{
				width: 22%;
				p{
					padding-top: .1rem;
				}
			}
			li:last-child{
				img{
					width: .6rem;
					height: .1rem;
				}
			}
		}
	}
	b{
			position: absolute;
			right: .05rem;
			top: .45rem;font-size: .3rem;
			i{
				
				color: #E5E5E5;	
			}
		}
		u{
			color: #56C359;
			border: 1px solid #56C359;
			border-radius: .1rem;
			font-style: normal;
			text-decoration: none;
			font-size: .14rem;
			padding: 0 .02rem;
			position: absolute;
			right: .1rem;
			top: 0;
		}
		em{
			position: absolute;
			left: 0;
			top:-.22rem;
			img{
				width: .45rem;
				height: .45rem;
			}
		}

}
.foot{
	height: .5rem;
	line-height: .25rem;
	text-align: center;.
	border-top: 1px solid #F3F3F3;
	ul{
		 display:flex;
   	 	 justify-content:space-between;
   		 align-items:center;
   		 li{
   		 	padding: 0 .1rem;
   		 }
   		 li:hover{
   		 	color: #FA3D3D;
   		 }
   		 li:nth-child(2){
   		 	color: #FA3D3D;
   		 }
	}
}
